<% content_for :header_navigation_bar do %>
  <% unless current_reward_page.owner_email.nil? %>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="color-1">
          <div class="js-email-edit">
            <div class="js-email">
              <h6 class="pull-left">
                <%= current_reward_page.owner_email %>
                <small class="js-edit-email-btn" style="cursor:pointer;"><i class="fa fa-pencil border-color-2" aria-hidden="true"></i></small>
              </h6>
            </div>
            <div class="js-edit-email-form pull-left" style="display:none">
              <%= form_for current_reward_page, url: reward_page_change_email_path(current_reward_page.identifier), method: :put do |f| %>
                <%= f.text_field :owner_email, placeholder: "email here" %>
                <%= f.submit class: "btn btn-primary", value: "Change Email" %>
              <% end -%>
            </div>
          </div>
        </li>
      </ul>
    </div>
  <% end -%>
<% end -%>

<section class="pageTitleSection">
  <div class="container pageTitleInfo">
    <div class="js-reward-name-title">
      <div class="js-title">
        <h2 class="pull-left">
          Welcome to <%= current_reward_page.name %>
          <a class="js-edit-name-btn" href="javascript:(0);"><i class="fa fa-pencil border-color-2" aria-hidden="true"></i></a>
        </h2>
      </div>
      <div class="js-edit-title pull-left" style="display:none">
        <%= form_for current_reward_page, url: reward_page_change_name_path(current_reward_page.identifier), method: :put do |f| %>
          <div class="col-xs-8">
            <%= f.text_field :name, class: "form-control border-color-4 margin-bottom", placeholder: "Title" %>
          </div>
          <div class="col-xs-4">
            <%= f.submit class: "btn btn-primary", value: "Save" %>
          </div>

        <% end -%>
      </div>
    </div>


    <%= link_to(reward_page_path(current_reward_page.identifier), class: "btn btn-primary pull-right", data: {intro: "Here you can preview your page", position: "bottom"}) do %>
      <i class="fa fa-eye"></i>
      <span>Preview</span>
    <% end %>
  </div>

  <div class="container margin-bottom">
    <% if current_reward_page.owner_email.nil? %>
      <div class="js-email-notification">
        <div class="well" role="alert">
          <p>
            Please set your email, so you can receive notifications.
          </p>

          <%= form_for :reward_page, url: reward_page_change_email_path(current_reward_page.identifier, format: :js), method: :put, remote: true do |f| %>
            <div class="row">
              <div class="col-sm-8 col-xs-12">
                <%= f.text_field :owner_email, class: "form-control margin-bottom", placeholder: "Enter your email..." %>
              </div>
              <div class="col-sm-4 col-xs-12">
                <%= f.submit class: "btn btn-primary pull-left", value: "Update Email" %>
              </div>
            </div>
          <% end -%>
        </div>
      </div>
    <% end -%>
  </div>

  <% if current_reward_page.tasks.pending_approval.any? %>
    <div class="container">
      <h3 class="margin-bottom">Tasks Waiting for Approval</h3>
      <div class="js-pending-tasks-list">
        <% current_reward_page.tasks.pending_approval.each_with_index do |task, index| %>
          <%= render "reward_pages/tasks/pending_approval_task", task: task, index: index %>
        <% end %>
      </div>

      <hr>
    </div>
  <% end -%>

  <div class="container">
    <h3 class="margin-bottom">Tasks</h3>
    <div class="js-tasks-list">
      <% current_reward_page.tasks.not_pending_approval.each_with_index do |task, index| %>
        <%= render "reward_pages/tasks/task", task: task, index: index %>
      <% end %>
    </div>
    <hr>
    <%= render "reward_pages/tasks/new" %>
  </div>

  <div class="colorSection full-width clearfix bg-color-4 servicesSection js-rewards-container">

    <div class="container">

      <h3 class="margin-bottom">Rewards</h3>

      <div class="js-rewards-list row">
        <% current_reward_page.rewards.each_with_index do |reward, index| %>
          <%= render "reward_pages/rewards/reward", reward: reward, index: index %>
        <% end %>
      </div>

      <hr>

      <%= render "reward_pages/rewards/new" %>

    </div>
  </div>

  <div class="container padding-top">

    <h3 class="margin-bottom">Participants</h3>

    <div class="js-participants-list row">
      <% current_reward_page.participants.each_with_index do |participant, index| %>
        <%= render "reward_pages/participants/participant", participant: participant, index: index %>
      <% end %>
    </div>

    <hr>

    <%= render "reward_pages/participants/new" %>
  </div>
</section>


<% content_for :javascript_includes do %>
  <script type="text/javascript">
    function showTitleEdit(hideSelector, showSelector){
      $(hideSelector).hide();
      $(showSelector).show();
    }

    $(document).ready(function(){
      $('.js-reward-name-title').on('click', ".js-edit-name-btn", function(){
        showTitleEdit('.js-title', '.js-edit-title');
      });

      $('.js-email-edit').on('click', ".js-edit-email-btn", function(){
        showTitleEdit('.js-email', '.js-edit-email-form');
      });

      NotificationsHelper.init("<%= current_reward_page.identifier %>", (function(){ $('body').chardinJs('start') }).bind(this) );
    });
  </script>

  <%= javascript_include_tag "https://widget.cloudinary.com/global/all.js" %>
  <script>cloudinary.setCloudName('rewards');</script>
  <script type="text/javascript">
    var generateSignature = function(callback, params_to_sign){
      $.ajax({
        url     : '/signature',
        type    : "GET",
        dataType: "text",
        data    : { data: params_to_sign},
        complete: function() {console.log("complete")},
        success : function(signature, textStatus, xhr) { callback(signature); },
        error   : function(xhr, status, error) { console.log(xhr, status, error); }
      });
    }
  </script>
  <script type="text/javascript">
    $('.js-rewards-container').on('click', ".js-cloudinary-upload", function(evt){
      evt.preventDefault();
      cloudinary.openUploadWidget({
        upload_preset: 'reward_photo',
        api_key: '165732538419699',
        sources: ['local','url'],
        multiple: false,
        max_files: 1,
        cropping: 'server',
        theme: 'white',
        button_class: 'btn-primary btn bg-color-5',
        thumbnails: ".js-thumbnails",
        upload_signature: generateSignature
      }, function(error, result) {
        if (error == null) {
          if ($('.cloudinary-thumbnails').length > 1) {
            $('.cloudinary-thumbnails:first').remove();
          }
          $('input[name="reward[photo]"]').val(result[0].secure_url);
        }
      });
    });
  </script>
<% end %>
