<section class="pageTitleSection">
  <div class="container pageTitleInfo">
    <h2>Welcome to <%= current_reward_page.name %></h2>
  </div>

  <% if current_reward_page.tasks.pending_approval.any? %>
    <div class="container">
      <h3 class="margin-bottom">Pending Approval Tasks</h3>
      <div class="js-pending-tasks-list">
        <% current_reward_page.tasks.pending_approval.each_with_index do |task, index| %>
          <%= render "reward_pages/tasks/pending_approval_task", task: task, index: index %>
        <% end %>
      </div>
    </div>
  <% end -%>

  <div class="container">
    <h3 class="margin-bottom">Tasks</h3>
    <div class="js-tasks-list">
      <% current_reward_page.tasks.not_pending_approval.each_with_index do |task, index| %>
        <%= render "reward_pages/tasks/task", task: task, index: index %>
      <% end %>
    </div>
    <hr>
    <%= render "reward_pages/tasks/new" %>
  </div>

  <div class="colorSection full-width clearfix bg-color-4 servicesSection">

    <div class="container">

      <h3 class="margin-bottom">Rewards</h3>

      <div class="js-rewards-list row">
        <% current_reward_page.rewards.each_with_index do |reward, index| %>
          <%= render "reward_pages/rewards/reward", reward: reward, index: index %>
        <% end %>
      </div>

      <hr>

      <%= render "reward_pages/rewards/new" %>

    </div>

  </div>

  <div class="container padding-top">

    <h3 class="margin-bottom">Participants</h3>

    <div class="js-participants-list row">
      <% current_reward_page.participants.each_with_index do |participant, index| %>
        <%= render "reward_pages/participants/participant", participant: participant, index: index %>
      <% end %>
    </div>

    <hr>

    <%= render "reward_pages/participants/new" %>
  </div>
</section>
