<section class="pageTitleSection">
  <div class="container pageTitleInfo">
    <h2 class="pull-left">Welcome to <%= current_reward_page.name %></h2>
    <%= link_to(reward_page_path(current_reward_page.identifier), class: "btn btn-primary pull-right") do %>
      <i class="fa fa-eye"></i>
      <span>Preview</span>
    <% end %>
  </div>

  <% if current_reward_page.tasks.pending_approval.any? %>
    <div class="container">
      <h3 class="margin-bottom">Tasks Waiting for Approval</h3>
      <div class="js-pending-tasks-list">
        <% current_reward_page.tasks.pending_approval.each_with_index do |task, index| %>
          <%= render "reward_pages/tasks/pending_approval_task", task: task, index: index %>
        <% end %>
      </div>

      <hr>
    </div>
  <% end -%>

  <div class="container">
    <h3 class="margin-bottom">Tasks</h3>
    <div class="js-tasks-list">
      <% current_reward_page.tasks.not_pending_approval.each_with_index do |task, index| %>
        <%= render "reward_pages/tasks/task", task: task, index: index %>
      <% end %>
    </div>
    <hr>
    <%= render "reward_pages/tasks/new" %>
  </div>

  <div class="colorSection full-width clearfix bg-color-4 servicesSection js-rewards-container">

    <div class="container">

      <h3 class="margin-bottom">Rewards</h3>

      <div class="js-rewards-list row">
        <% current_reward_page.rewards.each_with_index do |reward, index| %>
          <%= render "reward_pages/rewards/reward", reward: reward, index: index %>
        <% end %>
      </div>

      <hr>

      <%= render "reward_pages/rewards/new" %>

    </div>
  </div>

  <div class="container padding-top">

    <h3 class="margin-bottom">Participants</h3>

    <div class="js-participants-list row">
      <% current_reward_page.participants.each_with_index do |participant, index| %>
        <%= render "reward_pages/participants/participant", participant: participant, index: index %>
      <% end %>
    </div>

    <hr>

    <%= render "reward_pages/participants/new" %>
  </div>
</section>


<% content_for :javascript_includes do %>
  <%= javascript_include_tag "https://widget.cloudinary.com/global/all.js" %>
  <script>cloudinary.setCloudName('rewards');</script>
  <script type="text/javascript">
    var generateSignature = function(callback, params_to_sign){
      $.ajax({
        url     : '/signature',
        type    : "GET",
        dataType: "text",
        data    : { data: params_to_sign},
        complete: function() {console.log("complete")},
        success : function(signature, textStatus, xhr) { callback(signature); },
        error   : function(xhr, status, error) { console.log(xhr, status, error); }
      });
    }
  </script>
  <script type="text/javascript">
    $('.js-rewards-container').on('click', ".js-cloudinary-upload", function(evt){
      evt.preventDefault();
      cloudinary.openUploadWidget({
        upload_preset: 'reward_photo',
        api_key: '165732538419699',
        sources: ['local','url'],
        multiple: false,
        max_files: 1,
        cropping: 'server',
        theme: 'white',
        button_class: 'btn-primary btn bg-color-5',
        thumbnails: ".js-thumbnails",
        upload_signature: generateSignature
      }, function(error, result) {
        if (error == null) {
          if ($('.cloudinary-thumbnails').length > 1) {
            $('.cloudinary-thumbnails:first').remove();
          }
          $('input[name="reward[photo]"]').val(result[0].secure_url);
        }
      });
    });
  </script>
<% end %>
