<section class="pageTitleSection">
  <div class="container pageTitleInfo">
    <h2 class="pull-left">Welcome to <%= current_reward_page.name %></h2>
    <%= link_to(edit_reward_page_path(current_reward_page.identifier), class: "btn btn-primary pull-right") do %>
      <i class="fa fa-pencil"></i>
      <span>Edit</span>
    <% end %>
  </div>

  <div class="container">
    <h3 class="margin-bottom">Tasks</h3>
    <% current_reward_page.tasks.each do |task| %>
      <%= render "reward_pages/tasks/task", task: task, index: task.id%5 + 1 %>
    <% end %>
  </div>

  <div class="container padding-top">
    <h3 class="margin-bottom">Rewards</h3>
    <div class="row">
      <% current_reward_page.rewards.each do |reward| %>
        <%= render "reward_pages/rewards/reward", reward: reward, index: reward.id%5 + 1 %>
      <% end %>
    </div>
  </div>

  <div class="container padding-top">
    <h3 class="margin-bottom">Participants</h3>

    <div class="row">
      <% current_reward_page.participants.each_with_index do |participant, index| %>
        <%= render "reward_pages/participants/participant", participant: participant, index: index %>
      <% end %>
    </div>
</section>