<div class="js-reward-form">
  <%= form_for :participant, url: reward_page_participants_path(current_reward_page.identifier), remote: true do |f| %>
    name
    <%= f.text_field :name %>
    <br>
    email
    <%= f.text_field :email %>
    <%= hidden_field_tag :id, current_reward_page.identifier %>

    <%= f.submit %>
  <% end -%>
</div>
