<div class="col-xs-12 col-sm-6" data-participant-id="<%= participant.id %>">
  <div class="island media courseList couresListPage">
    <h3 class="media-heading"><%= participant.name %></h3>  
    <p><i class="fa fa-envelope"></i> <%= participant.email %></p>
    <div class="label bg-color-<%= (index % 5) + 1 %>"><strong>Participant Link:</strong> <%= participant_url(participant.identifier) %></div>
	  <% if editable? %>
	  <div>
	    <%= link_to 'Destroy', reward_page_participant_path(current_reward_page.identifier, participant.id), method: :delete, remote: true, data: { confirm: 'Are you sure?' } %>
	  </div>
	  <% end %>
  </div>
</div>
