<section class="pageTitleSection">

  <% if current_participant.email.nil? %>
    <div class="container js-email-notification">
      <div class="alert alert-warning" role="alert">
        <h5>
          Please set your email, so you can receive notifications.
        </h5>

        <%= form_for :participant, url: participant_change_email_path(current_participant.identifier, format: :js), method: :put, remote: true do |f| %>
          <%= f.text_field :email, placeholder: "email here" %>
          <%= f.submit class: "btn btn-primary", value: "Change Email" %>
        <% end -%>
      </div>
    </div>
  <% end -%>

  <div class="container pageTitleInfo margin-bottom">
    <h2 class="pull-left">Welcome, <%= current_participant.name %></h2>
    <div class="pull-right sticker-box bg-color-5">
      <i class="fa fa-ticket"></i>
      <%= current_participant.points.to_i %> points
    </div>
  </div>

  <div class="container">
    <h3 class="margin-bottom">Rewards</h3>
    <div class="row">
      <% @reward_page.rewards.each_with_index do |reward, index| %>
        <%= render "participants/redeem_rewards/reward", reward: reward, index: index %>
      <% end %>
    </div>

    <hr>

    <h3 class="margin-bottom">Tasks</h3>

    <% @reward_page.tasks.each do |task| %>
      <%= render "participants/complete_tasks/task", task: task %>
    <% end %>
  </div>
</section>
