<!-- HEADER -->
<header id="pageTop" class="headerV3">
  <%= render "shared/color-bar" %>

  <!-- NAVBAR -->
  <nav id="menuBar" class="navbar navbar-default lightHeader bg-color-7" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to :root, class: "navbar-brand" do %>
          <i class="fa fa-ticket border-color-1" aria-hidden="true"></i>
          <span>Rewards</span>
        <% end %>
      </div>

      <!-- <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="color-1">
            <%= link_to :root do %>
              <i class="fa fa-home bg-color-1" aria-hidden="true"></i> 
              <span>Home</span></a>
            <% end %>
          </li>
          <li class="color-2">
            <%= link_to :root do %>
              <i class="fa fa-ticket bg-color-2" aria-hidden="true"></i> 
              <span>Features</span></a>
            <% end %>
          </li>
          <li class="color-3">
            <%= link_to :root do %>
              <i class="fa fa-hand-peace-o bg-color-3" aria-hidden="true"></i> 
              <span>About</span></a>
            <% end %>
          </li>
          <li></li>
        </ul>
      </div> -->
    </div>
  </nav>
</header>