<div class="js-participant-task <%= task.status %>" data-task-id="<%= task.id %>">
  <div class="accordionCommon hello" id="faqAccordion">
    <div class="panel-group" id="accordionFaq">
      <div class="panel panel-default">
        <div class="panel-heading clearfix bg-color-<%= (task.id % 5) + 1 %>">
          <% if task.status == "new_task" %>
            <span class="iconBlock pull-left push-right">
              <%= form_for(:task,
                url: participant_task_complete_path(
                      participant_id: current_participant.identifier,
                      task_id: task.id
                    ),
                remote: true
                ) do |f| %>
                  <%= f.button("", class: "btn-clean", type: "submit") do %>
                    
                  <% end %>
                    
              <% end -%>
            </span>
          <% elsif task.status == "completed" %>
            <span class="iconBlock pull-left push-right">
              <%= form_for(:task,
                url: participant_task_complete_path(
                      participant_id: current_participant.identifier,
                      task_id: task.id
                    ),
                remote: true,
                method: :delete
                ) do |f| %>
                  <%= f.button("", class: "btn-clean", type: "submit") do %>
                    <i class="fa fa-check"></i>
                  <% end %>
              <% end -%>
            </span>
          <% end -%>
          <span><%= task.title %></span>
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionFaq" href="#collapse-<%= task.id %>">
            <span class="iconBlock">
              <i class="fa fa-chevron-down"></i>
            </span>
          </a>
          <span class="labelBlock"><%= task.points %> points</span>
        </div>
        <div id="collapse-<%= task.id %>" class="panel-collapse collapse out">
          <div class="panel-body">
            <p><%= task.description %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
