<div class="js-task-form homeContactContent clearfix padding-bottom" data-intro="Define the tasks Here" data-position="top">
  <p class="h5">Add a Task</p>

  <% if defined?(task) %>
    <% messages = task.errors.full_messages -%>
    <% if messages.any? %>
      <p class="js-error-heading media-heading color-3">
        <%= messages.join(', ') %>
      </p>
    <% end %>
  <% end -%>

  <%= form_for :task, url: reward_page_tasks_path(current_reward_page.identifier), remote: true do |f| %>
    <div class="row">
      <div class="form-group col-sm-10 col-xs-12">
        <%= f.text_field :title, class: "form-control border-color-4", placeholder: "Title" %>
      </div>

      <div class="form-group col-sm-2 col-xs-12">
        <%= f.text_field :points, class: "form-control border-color-3", placeholder: "Points" %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-xs-12">
        <%= f.text_area :description, class: "form-control border-color-2", placeholder: "Description" %>
      </div>
    </div>

    <%= hidden_field_tag :id, current_reward_page.identifier %>
    <%= f.submit class: "btn btn-primary", value: "Add Task" %>
  <% end -%>
</div>
