<div class="accordionCommon hello" id="faqAccordion">
  <div class="panel-group" id="accordionFaq">
    <div class="panel panel-default">
      <a class="panel-heading accordion-toggle bg-color-<%= (index % 5) + 1 %>" data-toggle="collapse" data-parent="#accordionFaq" href="#collapse-<%= task.id %>">
        <span><%= task.title %></span>
        <span class="iconBlock"><i class="fa fa-chevron-down"></i></span>
        <span class="labelBlock"><%= task.points %> points</span>
      </a>
      <div id="collapse-<%= task.id %>" class="panel-collapse collapse out">
        <div class="panel-body">
          <p><%= task.description %></p>
        </div>
      </div>
    </div>
  </div>
</div>
