<div class="accordionCommon hello" id="faqAccordion" data-task-id="<%= task.id %>">
  <div class="panel-group" id="accordionFaq">
    <div class="panel panel-default">
      <a class="panel-heading accordion-toggle bg-color-<%= (index % 5) + 1 %>" data-toggle="collapse" data-parent="#accordionFaq" href="#collapse-<%= task.id %>">
        <span><%= task.title %></span>
        <span class="iconBlock"><i class="fa fa-chevron-down"></i></span>
        <span class="labelBlock"><%= task.points %> points</span>
      </a>
      <div id="collapse-<%= task.id %>" class="panel-collapse collapse out">
        <div class="panel-body">
          <p><%= task.description %></p>
          <% if editable? %>
          <div class="pull-right">
            <%= link_to reward_page_task_path(current_reward_page.identifier, task.id), method: :delete, remote: true, data: { confirm: 'Are you sure?' } do %>
              <i class="fa fa-trash"></i>
              <span>Delete Task</span>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
