<div class="js-reward-form" data-intro="Set your rewards in this part" data-position="top">

  <% if defined?(reward) %>
    <% messages = reward.errors.full_messages -%>
    <% if messages.any? %>
      <p class="js-error-heading media-heading color-3">
        <%= messages.join(', ') %>
      </p>
    <% end %>
  <% end -%>

  <%= form_for :reward, url: reward_page_rewards_path(current_reward_page.identifier), remote: true do |f| %>
    <p class="h5">Add a Reward</p>
    <div class="row">
      <div class="form-group col-sm-10 col-xs-12">
        <%= f.text_field :name, class: "form-control border-color-1", placeholder: "Reward name" %>
      </div>

      <div class="form-group col-sm-2 col-xs-12">
        <%= f.text_field :points, class: "form-control border-color-3", placeholder: "Points" %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-xs-12">
        <%= f.text_area :description, class: "form-control border-color-2", placeholder: "Description" %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-xs-12">
        <%= f.hidden_field :photo %>
        <a id="upload_widget_opener" class="btn-primary btn bg-color-5 js-cloudinary-upload">Upload a Photo</a>
        <div class="js-thumbnails"></div>
      </div>
    </div>

    <%= hidden_field_tag :id, current_reward_page.identifier %>
    <%= f.submit class: "btn btn-primary pull-right", value: "Add Reward" %>
  <% end -%>
</div>
