<div class="js-reward-form">
  <%= form_for :reward, url: reward_page_rewards_path(current_reward_page.identifier), remote: true do |f| %>
    <p class="h5">Add a Reward</p>
    <div class="row">
      <div class="form-group col-sm-10 col-xs-12">
        <%= f.text_field :name, class: "form-control border-color-1", placeholder: "Reward name" %>
      </div>

      <div class="form-group col-sm-2 col-xs-12">
        <%= f.text_field :points, class: "form-control border-color-3", placeholder: "Points" %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-xs-12">
        <%= f.text_area :description, class: "form-control border-color-2", placeholder: "Description" %>
      </div>
    </div>

  <div class="row">
    <div class="form-group col-xs-12">
      <%= f.hidden_field :photo %>
      <div id="upload_widget_opener"></div>
    </div>
  </div>

  <%= hidden_field_tag :id, current_reward_page.identifier %>
  <%= f.submit class: "btn btn-primary pull-right", value: "Add Reward" %>
<% end -%>
<% content_for :javascript_includes do %>
  <%= javascript_include_tag "https://widget.cloudinary.com/global/all.js" %>
  <script>cloudinary.setCloudName('rewards');</script>
  <script type="text/javascript">
    var generateSignature = function(callback, params_to_sign){
      $.ajax({
        url     : '/gen_signature',
        type    : "GET",
        dataType: "text",
        data    : { data: params_to_sign},
        complete: function() {console.log("complete")},
        success : function(signature, textStatus, xhr) { callback(signature); },
        error   : function(xhr, status, error) { console.log(xhr, status, error); }
      });
    }
  </script>
  <script type="text/javascript">  
    $('#upload_widget_opener').cloudinary_upload_widget({
      upload_preset: 'reward_photo',
      api_key: '165732538419699',
      multiple: false,
      max_files: 1,
      cropping: 'server',
      theme: 'white'
    }, function(error, result) {
      if (error == null) {
        if ($('.cloudinary-thumbnails').length > 1) {
          $('.cloudinary-thumbnails:last').remove();
        }
        $('input[name="reward[photo]"]').val(result[0].secure_url);
      }
    });
  </script>
<% end %>
