<div class="col-md-3 col-xs-6" data-reward-id="<%= reward.id %>">
  <div class="box bg-color-<%= (index % 5) + 1 %>">
    <div class="box-img border-color-<%= (index % 5) + 1 %> text-center">
      <div>
        <% if reward.photo.present? %>
          <%= image_tag(reward.photo, alt: reward.name, class: "img-responsive") %>
        <% else %>
          <i class="fa fa-trophy placeholder-reward"></i>
        <% end -%>
      </div>
    </div>
    <div class="box-info">
      <h4><%= reward.name %></h4>
      <div class="price">
        <span>
          <i class="fa fa-ticket"></i>
          <%= reward.points %> <small>points</small>
        </span>
      </div>
      <% if editable? %>
      <div>
        <%= link_to 'Destroy', reward_page_reward_path(current_reward_page.identifier, reward.id), method: :delete, remote: true, data: { confirm: 'Are you sure?' } %>
      </div>
      <% end %>
    </div>
  </div>
</div>
